<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p>

<p>
  <strong>Account:</strong>
  <%= @entry.account_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @entry.amount %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
